extends layout

block head
  title 【my外掛】外掛免費付費下載！PC遊戲、手機遊戲、VR遊戲！巴哈姆特 & 遊戲基地 & 外掛聯合國 & 外掛討論區 & 外掛8591 & 外掛網 & 自強外掛網
  meta(name="keywords" content='PC遊戲,手機遊戲,PC,iphone,ios,google play,VR遊戲,外掛,BOT,打怪,自動練功')
  meta(name="description" content='PC遊戲,手機遊戲,PC,iphone,ios,google play,VR遊戲,外掛,BOT,打怪,自動練功')
