.mywaigua-ad.mywaigua-c
  style.
    .mywaigua-c {
    }

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- mywaigua-c -->
  <ins class="adsbygoogle" style="display:block" data-adtest="on" data-ad-client="ca-pub-7568995454835875" data-ad-slot="7667042041" data-ad-format="auto"></ins>
  <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
