.mywaigua-ad.mywaigua-d2
  style.
    .mywaigua-d2 {
    }

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- mywaigua-d2 -->
  <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-7568995454835875" data-ad-slot="2818040040"></ins>
  <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
