.mywaigua-ad.mywaigua-a
  style.
    .mywaigua-a {
    }

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- mywaigua-a -->
  <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7568995454835875" data-ad-slot="6667986846"></ins>
  <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
